.new-task{
	margin-top: 10px;
	margin-bottom: -10px;
	position: relative;

	input {
		padding: 10px 0;
		background: transparent;
		border: none;
		width: 100%;
		font-size: 1.3rem;
		color: $input-color-invert;

		&::placeholder {
			color: $placeholder-color-invert;
		}

		&:focus{
			outline: 0;
		}

		@include phone() {
			padding-bottom: 5px;
		}
	}
}
