*,
*:before,
*:after {
	box-sizing: border-box;
	tap-highlight-color: rgba(0,0,0,0);
}

body {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-family: $font-family;
	font-size: $font-size;
	background-color: $app-bg;
	overflow: hidden;
}

#app {
	position: relative;
	display: block;
	height: 100%;

	.root {
		position: relative;
		display: block;
		height: 100%;
	}
}

.container {
	max-width: $app-width;
	margin: 0 auto;
	height: 100%;
	max-height: calc(100% - #{$header-height});
	//border-radius: 0 0 5px 5px;
	box-shadow: $box-shadow;
	overflow: hidden;
	overflow-y: scroll;

	@include phone() {
		-webkit-overflow-scrolling: touch;
	}
}

header {
	position: relative;
	height: $header-height;
	padding: 20px 15px 15px 15px;
	color: $header-color;
	background: $header-bg;

	.hide-completed {
		float: right;

		i {
			margin-right: 5px;
			font-size: 1.2rem;
			vertical-align: middle;
		}
	}
}

#login-buttons {
	display: block;
}

h1,
h6 {
	font-size: 1.3em;
	margin: 0;
	margin-bottom: 10px;
	display: block;
}
h6 {
	font-size: 0.8rem;
	font-weight: 400;
}

.loading {
	@include spin();
	font-size: 3rem;
	position: absolute;
	top: 45%;
	left: 45%;
	transform: translate3d(0);
}
